<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GCP TEST</title>
        <link href="https://storage.googleapis.com/django_development/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <nav>
            <h3>Album</h3>
            <ul id="main-nav">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Galería</a></li>
                <li><a href="#">Contacto</a></li>
                <li class="icon-menu"><a href="#">MENU</a></li>
            </ul>
        </nav>
        <header>
            <h1>Album example</h1>
            <p>Something short and leading about the collection below—its contents, <br />
            the creator, etc. Make it short and sweet, but not too short so folks don't <br />
            simply skip over it entirely.</p>
            <button type="button" id="main-btn">Main call to action</button>
            <button type="button" id="second-btn">Secondary action</button>
        </header>
        <section id="album-grid">
            <div class="flex-item" id="grid-item-1">
                <div class="flex-item-thumb">
                    <h3>Thumbnail</h3>
                </div>
                <div class="flex-item-text">
                    <p>This is a wider card with supporting text
                        below as naturallead-in to additional
                        content. This content is a little bit longer</p>
                    <div>
                        <a href="#">View</a>
                        <a href="#">Edit</a>
                    </div>
                    <span>9 mins</span>                    
                </div>
            </div>
            <div class="flex-item" id="grid-item-2">
                <div class="flex-item-thumb">
                    <h3>Thumbnail</h3>
                </div>
                <div class="flex-item-text">
                    <p>This is a wider card with supporting text
                        below as natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <div>
                        <a href="#">View</a>
                        <a href="#">Edit</a>
                    </div>
                    <span>9 mins</span>                    
                </div>
            </div>
            <div class="flex-item" id="grid-item-3">
                <div class="flex-item-thumb">
                    <h3>Thumbnail</h3>
                </div>
                <div class="flex-item-text">
                    <p>This is a wider card with supporting text
                        below as natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <div>
                        <a href="#">View</a>
                        <a href="#">Edit</a>
                    </div>
                    <span>9 mins</span>                    
                </div>
            </div>
            <div class="flex-item" id="grid-item-4">
                <div class="flex-item-thumb">
                    <h3>Thumbnail</h3>
                </div>
                <div class="flex-item-text">
                    <p>This is a wider card with supporting text
                        below as natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <div>
                        <a href="#">View</a>
                        <a href="#">Edit</a>
                    </div>
                    <span>9 mins</span>                    
                </div>
            </div>
            <div class="flex-item" id="grid-item-5">
                <div class="flex-item-thumb">
                    <h3>Thumbnail</h3>
                </div>
                <div class="flex-item-text">
                    <p>This is a wider card with supporting text
                        below as natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <div>
                        <a href="#">View</a>
                        <a href="#">Edit</a>
                    </div>
                    <span>9 mins</span>                    
                </div>
            </div>
            <div class="flex-item" id="grid-item-6">
                <div class="flex-item-thumb">
                    <h3>Thumbnail</h3>
                </div>
                <div class="flex-item-text">
                    <p>This is a wider card with supporting text
                        below as natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <div>
                        <a href="#">View</a>
                        <a href="#">Edit</a>
                    </div>
                    <span>9 mins</span>                    
                </div>
            </div>
        </section>
        <footer>
            Este es un intento de recrear &copy; Bootstrap, sin el framework. Sientete libre
            de usar 
            <span><a href="#">Back to top</a></span>
        </footer>
    </body>
</html>